<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CMV Los Robles Regression Suite" verbose="1" parallel="methods" thread-count="2">
    
    <!-- Listeners for Reporting (Allure) -->
    <listeners>
        <!-- Allure Listener -->
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
        <!-- Custom Screenshot Listener -->
        <listener class-name="cl.cmvlosrobles.qa.base.TestListener"/>
    </listeners>

    <test name="Content Validations">
        <classes>
            <class name="cl.cmvlosrobles.qa.tests.ContentTests"/>
        </classes>
    </test>
</suite>