name: UI Regression Tests

# to be executed on PR and merge
on:
  push:
    branches: [ development ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: maven

    - name: Run UI Tests
      # BaseTest.java is already configured to detect GITHUB_ACTIONS and apply --headless=new and --no-sandbox automatically.
      run: mvn clean test -Dbrowser=chrome --batch-mode

    - name: Upload Test Results
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: test-reports
        path: target/surefire-reports/
